.modaltitle{
    display: flex;
    justify-content: center;

}
.modaldescription{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.8em;
}
.modalpoints{
    display: flex;
    justify-content: center

}
.modalid{
    display: flex;
    justify-content: center;

}