@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$ourFont: 'Open Sans', sans-serif;

.dash-main{
    background-image: url('https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    

    h1{
        font-size: 70px;
        position: absolute;
        margin: 30px;
        font-family: $ourFont;
        color: rgb(34, 34, 34);
    }
    h3{
        color: rgb(34, 34, 34);
        line-height: 30px;
        text-align: right;
    }
    .box{
        background-color: rgba(255,255,255,0.8);
        border-radius: 5px;
        border: none;
        margin: 10px;
        
    }

    .right{
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: 10px;
        right: 10px;
        height: 40%;
        width: 23%;
        justify-content: space-between;
        // background-color: red;
        margin: 20px 20px 0px 20px;

    }

    .top{
        // position: absolute;
        height: 50%;
        width: 100%;
        right: 0px;
        border-radius: 5px;
        text-align: center;
        padding: 2% 7%;
    }
    // .middle{
    //     display: flex;
    //     flex-direction: column;
    //     height: 43%;
    //     width: 100%;
    //     top: 30%;
    //     justify-content: center;
    //     align-items: center;

    //     .photo{
    //         width: auto;
    //         height: 80%;
    //     }
    // }
    .bottom{
        bottom: 0px;
        right: 0px;
        height: 45%;
        width: 100%;
        border-radius: 5px;
        padding: 5px;
        color: black;
        p{
            font-size: 20px;
            text-align: center;
        }
    }

    .left{
        height: 70%;
        width: 23%;
        position: absolute;
        bottom: 0px;
        margin: 20px;
        line-height: 40px;
        padding: 10px;
        button{
            border: black 1px solid;
            background-color: transparent;
            color: black;
            height: 45px;
            width: 200px;
            font-size: 20px;
            margin: 10px;
        }
    }


    h2{
        font-size: 30px;
    }  
    h3{
        font-size: 26px;
    } 

}