.inputs{
    display: flex;
    flex-direction: column;
    input{
        display: flex;
        flex-direction: column;
        border: none;
        border-bottom: 1px black solid;
        background-color: transparent;
        margin-bottom: 35px;
        height: 20px;
        font-size: 18px;

    }
    input::placeholder{
        font-style: italic;
        font-size: 17px;
    }
    button{
        border: black 1px solid;
        background-color: transparent;
        color: black;
        height: 45px;
        width: 200px;
        font-size: 20px;
        margin: 10px;
    }
}