@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$ourFont: 'Open Sans', sans-serif;

.logout-span{
    font-size: 25px;
    position: absolute;
    margin: 40px 30px 30px 30px;
    right: 0px;
    color: black;
    font-family: $ourFont;
}

.logout-span:hover{
    cursor: pointer;
}

