@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$ourFont: 'Open Sans', sans-serif;

span{
    font-size: 30px;
    position: absolute;
    margin: 20px 30px 30px 30px;
    right: 0px;
    color: black;
    font-family: $ourFont;
}

span:hover{
    cursor: pointer;
}
