@import url("https://fonts.googleapis.com/css?family=Open+Sans");
$ourFont: "Open Sans", sans-serif;

.cart_background {
  background: #ffffff;
  background: -moz-linear-gradient(
    top,
    #ffffff 0%,
    rgb(235, 219, 102) rgb(235, 219, 102) 20%,
    rgb(235, 219, 102) 100%
  );
  background: -webkit-linear-gradient(
    top,
    #ffffff 0%,
    rgb(235, 219, 102) 20%,
    rgb(235, 219, 102) 100%
  );
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    rgb(235, 219, 102) 20%,
    rgb(235, 219, 102) 100%
  );

  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;

  font-family: $ourFont;
}

.cart_header {
  width: 90%;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: stretch;
}

.cart_menu {
  width: 300px;
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: stretch;
}

.cart_body_container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: stretch;
}

.cart_spacer {
  height: 20px;
}
