@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$ourFont: 'Open Sans', sans-serif;

div {
    font-family: $ourFont;
}

.cartitem_box {
    height: 125px;
    width: 800px;
    border: solid 1px black;
    margin-top: 25px;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    
    text-align: center;
    
    div {
        padding: 5px;
    }

    img {
        height: 75px;
        width: 75px;
    }

    span {
        padding-left: 15px;
        padding-right: 15px;
    }

    .title {
        font-size: 1.25em;
    }

    button{
        border: black .5px solid;
        background-color: transparent;
        font-size: 1em;
    }

    button:hover {
        cursor: pointer;
        background-color: white;
    }
}

.cartitem_button_container {
    height: 100%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch; 
}
.cartitem_plus_minus_container {
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}
