@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$ourFont: 'Open Sans', sans-serif;

div {
    font-family: $ourFont;
}

.product_box {
    height: 300px;
    width: 225px;
    border: solid 1px black;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: stretch;
    
    text-align: center;
    
    .product_div {
        padding: 5px;
    }

    .product_image {
        height: 150px;
        width: 150px;
    }

    .product_span {
        padding-left: 15px;
        padding-right: 15px;
    }

    .product_title {
        font-size: 1.25em;
    }

    .product_button{
        border: black .5px solid;
        background-color: transparent;
        font-size: 1em;
    }

    .product_button:hover {
        cursor: pointer;
        background-color: white;
    }
}
